@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Shalimar&display=swap');

* {
     margin: 0;
     padding: 0;
}

body {
     background-color: #FFF8EA;
     font-family: 'Lora', serif !important;
     color: #3D3C42;
}

header {
     height: 200px;
     background-color: #9E7676;
     color: #FFF8EA;
     display: flex;
     justify-content: center;
     align-items: center;
}

header h1 {
     font-family: 'Shalimar', cursive;
     font-size: 5.5em;
}

nav {
     text-align: center;
     padding: 1rem 0 1.2rem;
     background-color: #815B5B;
}

nav a {
     color: #FFF8EA;
     text-decoration: none;
     margin: 0 15px;
     font-size: 1.1em;
     font-weight: 600;
}

nav a:hover {
     border-bottom: 2px solid #FFF8EA
}

.wrapper {
     display: flex;
     justify-content: center;
     padding: 1rem 2rem;
     width: 1250px;
     margin: 0 auto;
}

.wrapper .content {
     width: 75%;
     padding: 1rem;
}

.wrapper .content h1 {
     margin-bottom: 1rem;
     font-size: 1.6em;
}

.mb-1 {
     margin-bottom: 2rem;
}

.wrapper .content .mb-1 p {
     padding-right: 1.5rem;
}

.wrapper .content .mb-1 ul {
     padding-left: 2.5rem;
}

.wrapper .content .mb-1 li {
     font-size: 1.1em;
     font-weight: 600;
}

.wrapper .content .mb-1 table,
th,
td {
     border: 1px solid #815B5B;
     border-collapse: collapse;
}

.wrapper .content .mb-1 th,
td {
     padding: 0.5rem 1rem;
     font-size: 1.1em;
     text-align: center;
     width: 185px;
}

.wrapper .content .mb-1 th {
     font-weight: 800;
}

.wrapper .content .mb-1 td {
     font-weight: 600;
}

.wrapper .content .mb-1 td a {
     text-decoration: none;
     color: #594545;
     font-weight: 700;
}

.text-center {
     text-align: center;
}

.language,
.skills {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 1rem;
     padding: 5px 1rem;
}

.progress-circle {
     font-size: 18px;
     font-weight: 600;
     margin: 20px;
     position: relative;
     padding: 0;
     width: 5em;
     height: 5em;
     background-color: #F2E9E1;
     border-radius: 50%;
}

.progress-circle i {
     font-size: 2rem;
     margin-top: 1.8rem;
}

.progress-circle:after {
     border: none;
     position: absolute;
     top: 0.35em;
     left: 0.35em;
     text-align: center;
     display: block;
     border-radius: 50%;
     width: 4.3em;
     height: 4.3em;
     background-color: white;
     content: " ";
}

.progress-circle span {
     position: absolute;
     line-height: 5em;
     width: 5em;
     text-align: center;
     display: block;
     color: #815B5B;
     z-index: 2;
}

.left-half-clipper {
     border-radius: 50%;
     width: 5em;
     height: 5em;
     position: absolute;
     clip: rect(0, 5em, 5em, 2.5em);
}

.progress-circle.over50 .left-half-clipper {
     clip: rect(auto, auto, auto, auto);
}

.value-bar {
     position: absolute;
     clip: rect(0, 2.5em, 5em, 0);
     width: 5em;
     height: 5em;
     border-radius: 50%;
     border: 0.45em solid #815B5B;
     box-sizing: border-box;
}

.progress-circle.over50 .first50-bar {
     position: absolute;
     clip: rect(0, 5em, 5em, 2.5em);
     background-color: #815B5B;
     border-radius: 50%;
     width: 5em;
     height: 5em;
}

.progress-circle:not(.over50) .first50-bar {
     display: none;
}

.progress-circle.p30 .value-bar {
     transform: rotate(108deg);
}

.progress-circle.p70 .value-bar {
     transform: rotate(252deg);
}

.progress-circle.p80 .value-bar {
     transform: rotate(288deg);
}

.progress-circle.p90 .value-bar {
     transform: rotate(324deg);
}

.progress-circle.p100 .value-bar {
     transform: rotate(360deg);
}

.wrapper .content form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 1.5rem;
}

.wrapper .content input,
textarea {
     width: 350px;
     padding: 0.7rem 1rem;
     border: 0.5px solid #594545;
     border-radius: 11px;
     font-size: 0.90em;
     margin-bottom: 1rem;
     resize: none;
     font-family: 'Lora', serif;
}

.wrapper .content input:focus,
textarea:focus {
     outline: none;
}

.wrapper .content button {
     padding: 0.6rem 1rem;
     width: 100px;
     border: none;
     border-radius: 11px;
     background-color: #594545;
     color: #FFF8EA;
     font-family: 'Lora', serif;
     font-size: 1em;
     font-weight: 600;
     text-transform: uppercase;
}

.wrapper .content .blogs {
     padding: 1rem 1rem 1rem 0;
}

.wrapper .content article,
.blogs article {
     padding-bottom: 1rem;
     margin-bottom: 1.5rem;
     border-bottom: 0.5px solid #594545;
}

.wrapper .content article h2,
.blogs h2 {
     margin-bottom: 0.7rem;
}

.wrapper .content .gallery {
     display: grid;
     grid-template-columns: auto auto auto;
     grid-gap: 1rem;
     margin-top: 1.5rem;
}

.wrapper .content .gallery img {
     width: 100%;
}

.wrapper .content .projects {
     margin: 1rem auto 3rem;
}

.wrapper aside {
     padding: 1rem 0 1rem 1rem;
     width: 25%;
}

.right-aside {
     border-left: 2px solid #815B5B;
}

.map {
     width: 100%;
     margin: 3rem 0 1.5rem;
}

.wrapper aside .links-wrapper {
     padding: 1rem 1rem 0;
}

.wrapper aside .links-wrapper ul {
     padding: 0.8rem 0 2rem 0.8rem;
}

.wrapper aside .links-wrapper li {
     margin-bottom: 5px;
}

.wrapper aside .links-wrapper li a {
     font-weight: 600;
     text-decoration: none;
     color: #594545;
}

.wrapper aside .links-wrapper li a:hover {
     text-decoration: underline;
}

.wrapper aside .links-wrapper .all-projects {
     padding: 10px 20px;
     border: 0;
     border-radius: 25px;
     font-size: 1.05em;
     font-weight: 600;
     display: flex;
     align-items: center;
     font-family: 'Lora', serif !important;
     cursor: pointer;
}

.wrapper aside .links-wrapper a {
     text-decoration: none;
     color: #3D3C42;
}
.wrapper aside .links-wrapper a:hover .all-projects {
     background-color: #815B5B;    
     color: #FFF8EA;
}

.wrapper aside .links-wrapper .all-projects i {
     font-size: 1.2em;
}

.wrapper aside .contact h2,
.address h2,
.social-media h2 {
     margin-bottom: 0.7rem;
}

.wrapper aside .contact a,
.social-media a {
     text-decoration: none;
     font-weight: 600;
     color: #594545;
     display: block;
     margin-top: 0.4rem;
}

.wrapper aside .contact a:hover,
.social-media a:hover {
     text-decoration: underline;
}

footer {
     margin: 2.5rem 0 1.5rem;
     text-align: center;
}

footer a {
     text-decoration: none;
     font-weight: 600;
     color: #594545;
}